
@{
    ViewData["Title"] = "Attendance Details ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* Common - calendar *@
<link rel="stylesheet" href="~/css/jquery-ui.css">
<link rel="stylesheet" href="~/plugins/loader/css/style.css" />
@* Confirm Box *@
<link rel="stylesheet" href="~/plugins/confirmBox/jquery-confirm.css" />
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Manage Attendance Details </h1>

            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Manage Attendance Details</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">
                            <span><i class="fa fa-chec "></i>Details</span>


                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->

                    <form role="form" id="companyForm">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="EmployeeNumber">Employee Number</label>
                                        <input type="number" class="form-control" id="txtEmployeeNumber" placeholder="Employee Number">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="txtEmployeeName">Employee Name </label>
                                        <input type="text" class="form-control" id="txtEmployeeName" placeholder="Enter Name"readonly>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Joining Date <span class="text-red text-bold">*</span></label>
                                        <input type="text" class="form-control date" id="dpDocJoiningDate" placeholder="Select Joining Date" readonly>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" id="btnSearch" class="btn btn-sm btn-success example-p-2" onclick="GetEmployeesAttendanceBySearch()" style="margin-top:30px">Search</button>
                                    <button type="button" id="btnSearch" class="btn btn-sm btn-success example-p-2"onclick="GetEmployeesAttendanceBySearch()" style="margin-top:30px">Search</button>
                                </div>


                            </div>
                        </div>

                    </form>

                </div>
            </div>


            <div class="col-md-12">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">
                            Leave Till End Of <span id="spnHeader"></span>

                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="txtannualLeave">
                                        Annual Leave<span id="spnAnnualLeave"></span>
                                    </label>
                                    <input type="number" class="form-control" id="txtAnnualLeave" placeholder="Annual Leave">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="txtbalanceLeave">
                                        Balance Leave From
                                        <span id="spnBalanceLv"></span>
                                    </label>
                                    <input type="number" class="form-control" id="txtBalanceLeave" placeholder="Balance Leave">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="txtTotalLeave">
                                        Total Leave days for
                                        <span id="spnTotallev"></span>
                                    </label>
                                    <input type="number" class="form-control date" id="txtTotalLeave" placeholder="Total Leave">

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="txtLeavTaken">
                                        Leave Taken in
                                        <span id="spnLevTake"></span>
                                    </label>
                                    <input type="number" class="form-control" id="txtLeaveTaken" placeholder="Leave Taken">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="txtSickLeaveJustified">Sick Leave Justified</label>
                                    <input type="number" class="form-control" id="txtSickLeaveJustified" placeholder="Sick Leave Justified">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="txtNonJustifiedLeave">Non Justified Leave</label>
                                    <input type="number" class="form-control date" id="txtNonJustifiedLeave" placeholder="Non Justified Leave">

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="txtUnpaidLeave">Unpaid Leave</label>
                                    <input type="number" class="form-control date" id="txtUnpaidLeave" placeholder="Unpaid Leave">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="txtSickLeaveBalance">Sick Leave Balance</label>
                                    <input type="number" class="form-control date" id="txtSickLeaveBalance" placeholder="Sick Leave Balance">

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="txtLeaveBalance">
                                        Leave Balance Till End of
                                        <span id="spnLevBalance"></span>
                                    </label>
                                    <input type="text" class="form-control date" id="txtLeaveBalance" placeholder="Leave Balance">

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="txtRemarks">Remarks </label>
                                    <textarea class="form-control" rows="2" id="txtRemarks"></textarea>
                                </div>
                            </div>

                        </div>
                            </div>


                        </div>


                    </div>
                </div>

            </div>
    <div class="col-md-12 text-right">
                <div class="right">
                    <button type="button" id="btnReset" class="btn btn-sm btn-warning" onclick="ResetFields()"><i class="fa fa-recycle"></i>  Reset</button>
                    <button type="button" id="btnSubmit" class="btn btn-sm btn-success" onclick="SubmitAttendance()"><i class="fas fa-check"></i>  Submit</button>
                    <button type="button" id="btnReset" class="btn btn-sm btn-warning"><i class="fa fa-recycle"></i>  Reset</button>
                    <button type="button" id="btnSubmit" class="btn btn-sm btn-success"><i class="fas fa-check"></i>  Submit</button>
                    <button type="button" id="btnApprove" class="btn btn-sm btn-dark"><i class="fa fa-check"></i>  Approve</button>
                    <button type="button" id="btnReject" class="btn btn-sm btn-danger"><i class="fa fa-times"></i>  Reject</button>
                    <button type="button" id="btnPrint" class="btn btn-sm btn-primary"><i class="fa fa-print"></i>  Print</button>


                </div>
            </div>
</section>

@* loader *@
<div class="overlay"></div>
@* hidden Variables *@
<input type="hidden" id="hdnUserRole" value="@TempData.Peek("UserRole")" />
<input type="hidden" id="hdnUserId" value="@TempData.Peek("UserId")" />

@* Message Modal *@
<div class="modal fade" id="alert-modal">
    <div class="modal-dialog">
        <div class="modal-content alert-success">
            <div class="modal-header">
                <h4 class="modal-title">Success Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer justify-content">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal fade bd-loader-modal-lg" data-backdrop="static" data-keyboard="false" id="modal-Loader" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width: 48px">
            <span class="fa fa-spinner fa-spin fa-3x"></span>
        </div>
    </div>
</div>


@* loader *@
<div class="overlay"></div>
@* Common files Starts*@
<script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.css">
<script src="~/js/Common/Common.js" type="text/javascript"></script>
<script src="~/js/jquery-ui.js" type="text/javascript"></script>
<script src="~/plugins/bootstrap/js/bootstrap.min.js" type="text/x-jsrender">
</script>
@* Common files ends *@
@* Solution Specific files starts *@
<script src="~/js/App/Attendance.js" type="text/javascript"></script>
<script src="~/plugins/countrypicker/js/jquery.countrySelector.js" type="text/javascript"></script>
@* ConfirmBox *@
<script src="~/plugins/confirmBox/jquery-confirm.js" type="text/javascript"></script>



@* hidden Variables *@
<input type="hidden" id="hdnUserRole" value="@TempData.Peek("UserRole")" />
<input type="hidden" id="hdnUserId" value="@TempData.Peek("UserId")" />


