@model Aris.Models.ViewModel.EmployeeDetailsViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/jquery-ui.css">
<link rel="stylesheet" href="~/plugins/loader/css/style.css" />
@* Confirm Box *@
<link rel="stylesheet" href="~/plugins/confirmBox/jquery-confirm.css" />


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Manage Employees</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">ManageEmployees</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Main content -->


<section class="content" id="divLoader">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-7">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Employee Details	</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->

                    <form role="form">

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">


                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="EmployeeNumber">Employee Number</label>
                                            <input type="text" class="form-control" id="txtEmployeeNumber" placeholder="Employee Number" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="EmployeeName">Employee Name </label>
                                            <input type="text" class="form-control" id="txtEmployeeName" placeholder="Enter Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class=" text-center">
                                        <img src="~/img/avatar.png" id="imgUser" height="100px" width="100px" />
                                    </div>
                                    <br />
                                    <div class="text-center">
                                        <input style="border-style:groove; border-color:black" id="files" type="file" size="1" onchange="uploadFiles('files');" />
                                        <input type="hidden" id="hdnEmployeePicturePath" />
                                        <span id="file_error"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Client</label>
                                        <select class="form-control select2bs4" id="ddlCompany" style="width: 100%;">
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nationality</label>
                                        <select id="ddlCountry" class="form-control select2bs4" value="0" data-role="country-selector" data-code-mode="numeric"></select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="PassportNumber">Passport Number </label>
                                        <input type="text" class="form-control" id="txtPassportNumber" placeholder="Enter Passport Number">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Passport Expiry Date</label>
                                        <input type="text" class="form-control date" id="dpPassportExpiryDate">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Files</label>
                                        <div class="input-group">
                                            <input type="button" name="Files" data-toggle="modal" data-target="#modal-passport" class="form-control btn btn-sm btn-info" value="Files" />

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ResidentNumber">Resident Number </label>
                                        <input type="text" class="form-control" id="txtResidentNumber" placeholder="Enter Resident No">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Resident Expiry Date</label>
                                        <input type="text" class="form-control date" id="dpResidentExpiryDate">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Files</label>
                                        <div class="input-group">
                                            <input type="button" name="Files" data-toggle="modal" data-target="#modal-resident" class="form-control btn btn-sm btn-info" value="Files" />

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Joining Date</label>
                                        <input type="text" class="form-control date" id="dpJoiningDate">

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Contract Start Date</label>
                                        <input type="text" class="form-control date" id="dpContractStartDate">

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Contract End Date</label>
                                        <input type="text" class="form-control date" id="dpContractEndDate">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="GSM">GSM </label>
                                        <input type="number" class="form-control" id="txtGsm" placeholder="Enter GSM" maxlength="8">
                                    </div>

                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="accomodationdetails">Accomodation Details  </label>
                                        <input type="text" class="form-control" id="txtAccomodationDetails" placeholder="Enter accomodation">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Marital Status</label>
                                        <div class="radio">
                                            <label><input type="radio" value="1" checked name="radioMarital">Married</label>
                                        </div>
                                        <div class="radio">
                                            <label><input type="radio" value="0" name="radioMarital">Unmarried</label>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtIdProfession">ID Profession </label>
                                        <input type="text" class="form-control" id="txtIdProfession" placeholder="Enter Id Profession">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Designation">Designation</label>
                                        <input type="text" class="form-control" id="txtDesignation" placeholder="Enter Designation">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="BankName">Bank Name </label>
                                        <input type="text" class="form-control" id="txtBankName" placeholder="Enter Bank Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="AccountNumber">Account No. </label>
                                        <input type="text" class="form-control" id="txtAccountNumber" placeholder="Enter Account Number">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="txtRemarks">Remarks </label>
                                        <textarea class="form-control" rows="3" id="txtRemarks"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="card card-outline card-info">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <small>Documents to be uploaded</small>
                                            </h3>
                                            <!-- tools box -->
                                            <div class="card-tools">
                                                <button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse" data-toggle="tooltip"
                                                        title="Collapse">
                                                    <i class="btn-success fas fa-minus"></i>
                                                </button>

                                            </div>
                                        </div>
                                        <div class="card-body pad">
                                            <div class="mb-3">
                                                <div class="card-body table-responsive p-0" style="overflow:hidden">
                                                    <table class="table table-head-fixed text-wrap" id="tblRemainingFiles"> </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-sm-12">
                                        <div class="card-body table-responsive p-0" style="overflow:hidden">
                                            <table class="table table-head-fixed text-wrap" id="tblRemainingFiles"> </table>
                                        </div>
                                    </div>*@

                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer" style="text-align:right">
                            <button type="button" hidden id="btnDelete" class="btn btn-danger">Delete</button>
                            <button type="button" id="btnReset" onclick="ClearFields()" class="btn btn-primary">Reset</button>
                            <button type="button" id="btnUpdate"  class="btn btn-warning">Update</button>
                            <button type="button" id="btnSubmit"  class="btn btn-success example-p-2">Submit</button>
                        </div>
                    </form>

                </div>


            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-5">

                <!-- general form elements disabled -->
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">Employee List</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form role="form">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card-body table-responsive p-0" style="overflow:hidden">
                                        <table class="table table-head-fixed text-nowrap" id="tblEmployees"> </table>
                                    </div>
                                </div>

                            </div>


                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>






            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

@* Modal for file Upload *@
@* Passport *@
<div class="modal fade" id="modal-passport" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content alert-light">
            <div class="modal-header" style="background-color:darkseagreen">
                <h4 class="modal-title left">Upload Passport Pages</h4>
                <button type="button" class="close" style="color:darkred" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="card-body table-responsive p-0" style="overflow:hidden">
                            <table class="table table-head-fixed text-wrap" id="tblPassportFiles"> </table>
                        </div>
                        @*<table class="table text-wrap compact border-dark" id="tblPassportFiles"> </table>*@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@* Resident Card *@
<div class="modal fade" id="modal-resident" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content alert-light">
            <div class="modal-header" style="background-color:darkseagreen">
                <h4 class="modal-title left">Upload Resident Card Pages</h4>
                <button type="button" class="close" style="color:darkred" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-body table-responsive p-0" style="overflow:hidden">
                            <table class="table table-head-fixed text-wrap" id="tblResidentFiles"> </table>
                        </div>
                        @*  <table class="table text-nowrap" id="tblResidentFiles"> </table>*@
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@* Message Modal *@
<div class="modal fade" id="alert-modal">
    <div class="modal-dialog">
        <div class="modal-content alert-success">
            <div class="modal-header">
                <h4 class="modal-title">Success Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer justify-content">
                @*<button type="button" id="btnDialogNo" class="btn btn-outline-light">No</button>
                    <button type="button" id="btnDialogYes" class="btn btn-outline-light">Yes</button>*@
                <button type="button" id="btnDialogClose" class="btn btn-outline-light" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



@* loader *@
<div class="overlay"></div>




@* Common files Starts*@
<script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.css">

<script src="~/js/Common/Common.js" type="text/javascript"></script>

<script src="~/js/jquery-ui.js" type="text/javascript"></script>
<script src="~/plugins/bootstrap/js/bootstrap.min.js" type="text/x-jsrender">
</script>

@* Common files ends *@
@* Solution Specific files starts *@
<script src="~/js/App/ManageEmployees.js" type="text/javascript"></script>
<script src="~/plugins/countrypicker/js/jquery.countrySelector.js" type="text/javascript"></script>


@* ConfirmBox *@
<script src="~/plugins/confirmBox/jquery-confirm.js" type="text/javascript"></script>



@* Solution Specific files ends *@
<script>
    var row;
    var table;
    var empNO;
    var approvalStatusId;
    var isUploadAllowed = true;

    $(document).ready(function () {

        ////demo region starts
        //$("#tblPassportFiles").css('background-color', 'red');
        ////demo region ends



        $("#dpContractEndDate").datepicker({ minDate: 0 }); //maxDate: "+1M +15D" });
        $("#dpContractStartDate").datepicker({ minDate: 0 });
        $("#dpJoiningDate").datepicker({ minDate: 0 });
        $("#dpResidentExpiryDate").datepicker({ minDate: 0 });
        $("#dpPassportExpiryDate").datepicker({ minDate: 0 });

        $('#tblEmployees').on('click', 'td.edit', function (e) {
            e.preventDefault();
            clearValidationCSS();
            approvalStatusId = parseInt(table.row(this).data()['approvalStatus']);
            if (approvalStatusId == 0) {
                empNO = parseInt(table.row(this).data()['employeeNo']);
                $("#txtEmployeeNumber").val('ARIS-' + table.row(this).data()['employeeReferenceNo']);
                $("#txtEmployeeName").val(table.row(this).data()['employeeName']).attr('disabled', 'disabled');
                $("#ddlCompany").val(table.row(this).data()['companyId']).attr('disabled', 'disabled');
                $("#ddlCountry").val(table.row(this).data()['nationality']).attr('disabled', 'disabled');
                $("#txtPassportNumber").val(table.row(this).data()['passportNumber']).attr('disabled', 'disabled');
                $("#dpPassportExpiryDate").datepicker("setDate", $.datepicker.parseDate("yy-mm-dd", table.row(this).data()['passportExpiryDate'].replace('T00:00:00', ''))).attr('disabled', 'disabled');
                $("#txtResidentNumber").val(table.row(this).data()['residentNumber']).attr('disabled', 'disabled');
                $("#dpResidentExpiryDate").datepicker("setDate", $.datepicker.parseDate("yy-mm-dd", table.row(this).data()['residentExpiryDate'].replace('T00:00:00', ''))).attr('disabled', 'disabled');
                $("#dpJoiningDate").datepicker("setDate", $.datepicker.parseDate("yy-mm-dd", table.row(this).data()['joiningDate'].replace('T00:00:00', ''))).attr('disabled', 'disabled');
                $("#dpContractStartDate").datepicker("setDate", $.datepicker.parseDate("yy-mm-dd", table.row(this).data()['contractStartDate'].replace('T00:00:00', ''))).attr('disabled', 'disabled');
                $("#dpContractEndDate").datepicker("setDate", $.datepicker.parseDate("yy-mm-dd", table.row(this).data()['contractEndDate'].replace('T00:00:00', ''))).attr('disabled', 'disabled');
                $("#txtGsm").val(parseInt(table.row(this).data()['gsm'])).attr('disabled', 'disabled');
                $("#txtAccomodationDetails").val(table.row(this).data()['accomodationDetails']).attr('disabled', 'disabled');
                $("input[name='radioMarital'][value='" + table.row(this).data()['maritalStatus'] + "']").prop('checked', true).attr('disabled', 'disabled');
                $("#txtIdProfession").val(table.row(this).data()['idProfession']).attr('disabled', 'disabled');
                $("#txtDesignation").val(table.row(this).data()['designation']).attr('disabled', 'disabled');
                $("#txtBankName").val(table.row(this).data()['bankName']).attr('disabled', 'disabled');
                $("#txtAccountNumber").val(table.row(this).data()['bankAccountNumber']).attr('disabled', 'disabled');
                $("#txtRemarks").val(table.row(this).data()['remarks']).attr('disabled', 'disabled');
                $("#imgUser").attr('src', "/Uploads/employeeUploads/" + $("#txtEmployeeNumber").val() + "/" + table.row(this).data()['employeeImage']).attr('disabled', 'disabled');
                isUploadAllowed = false; // new for restrict uploads
                GetAllUploads("PASSPORT", table.row(this).data()['employeeReferenceNo']);  // testing is in progress
                GetAllUploads("RESIDENT", table.row(this).data()['employeeReferenceNo']);
                GetAllUploads("REMAINING", table.row(this).data()['employeeReferenceNo']);
                $("#btnUpdate").hide();
                $("#btnSubmit").hide();
                disableRadioButtonGroup(true);
                $("#files").attr("disabled", "disabled");



            }
            else {

                empNO = parseInt(table.row(this).data()['employeeNo']);
                $("#txtEmployeeNumber").val('ARIS-' + table.row(this).data()['employeeReferenceNo']);
                $("#txtEmployeeName").val(table.row(this).data()['employeeName']).attr('disabled', false);
                $("#ddlCompany").val(table.row(this).data()['companyId']).attr('disabled', false);
                $("#ddlCountry").val(table.row(this).data()['nationality']).attr('disabled', false);
                $("#txtPassportNumber").val(table.row(this).data()['passportNumber']).attr('disabled', false);
                $("#dpPassportExpiryDate").datepicker("setDate", $.datepicker.parseDate("yy-mm-dd", table.row(this).data()['passportExpiryDate'].replace('T00:00:00', ''))).attr('disabled', false);
                $("#txtResidentNumber").val(table.row(this).data()['residentNumber']).attr('disabled', false);
                $("#dpResidentExpiryDate").datepicker("setDate", $.datepicker.parseDate("yy-mm-dd", table.row(this).data()['residentExpiryDate'].replace('T00:00:00', ''))).attr('disabled', false);
                $("#dpJoiningDate").datepicker("setDate", $.datepicker.parseDate("yy-mm-dd", table.row(this).data()['joiningDate'].replace('T00:00:00', ''))).attr('disabled', false);
                $("#dpContractStartDate").datepicker("setDate", $.datepicker.parseDate("yy-mm-dd", table.row(this).data()['contractStartDate'].replace('T00:00:00', ''))).attr('disabled', false);
                $("#dpContractEndDate").datepicker("setDate", $.datepicker.parseDate("yy-mm-dd", table.row(this).data()['contractEndDate'].replace('T00:00:00', ''))).attr('disabled', false);
                $("#txtGsm").val(parseInt(table.row(this).data()['gsm'])).attr('disabled', false);
                $("#txtAccomodationDetails").val(table.row(this).data()['accomodationDetails']).attr('disabled', false);
                $("input[name='radioMarital'][value='" + table.row(this).data()['maritalStatus'] + "']").prop('checked', true).attr('disabled', false);
                $("#txtIdProfession").val(table.row(this).data()['idProfession']).attr('disabled', false);
                $("#txtDesignation").val(table.row(this).data()['designation']).attr('disabled', false);
                $("#txtBankName").val(table.row(this).data()['bankName']).attr('disabled', false);
                $("#txtAccountNumber").val(table.row(this).data()['bankAccountNumber']).attr('disabled', false);
                $("#txtRemarks").val(table.row(this).data()['remarks']).attr('disabled', false);
                $("#imgUser").attr('src', "/Uploads/employeeUploads/" + $("#txtEmployeeNumber").val() + "/" + table.row(this).data()['employeeImage']).attr('disabled', false);
                isUploadAllowed = true;// new for restrict uploads
                GetAllUploads("PASSPORT", table.row(this).data()['employeeReferenceNo']);  // testing is in progress
                GetAllUploads("RESIDENT", table.row(this).data()['employeeReferenceNo']);
                GetAllUploads("REMAINING", table.row(this).data()['employeeReferenceNo']);
                $("#btnUpdate").show();
                $("#btnSubmit").hide();
                disableRadioButtonGroup(false);
                $("#files").attr("disabled", false);



            }

        });
    });
    function getCompanies() {
        try {

            bindDropDownList('ddlCompany', 'GET', '/MasterPages/ManageEmployees/GetCompanies', 'json', 'companyId', 'companyName');

        }
        catch (err) {
            console.log(err);
        }
    }
    function isValidEntry() {
        var valid = true;

        if ($('#txtEmployeeName').val() == '') {
            $('#txtEmployeeName').css('border-color', 'red');
            valid = false;
        }
        else {
            $('#txtEmployeeName').css('border-color', '');
        }
        if ($("#ddlCompany").val() == 0) {
            $('#ddlCompany').css('border-color', 'red');
            valid = false;
        }
        else {
            $('#ddlCompany').css('border-color', '');
        }
        if ($("#ddlCountry").val() == 0) {
            $('#ddlCountry').css('border-color', 'red');
            valid = false;
        }
        else {
            $('#ddlCountry').css('border-color', '');
        }
        if ($("#txtPassportNumber").val() == '') {
            $('#txtPassportNumber').css('border-color', 'red');
            valid = false;
        }
        else {
            $('#txtPassportNumber').css('border-color', '');
        }
        if ($("#dpPassportExpiryDate").val() == '') {
            $('#dpPassportExpiryDate').css('border-color', 'red');
            valid = false;
        }
        else {
            $('#dpPassportExpiryDate').css('border-color', '');
        }
        if ($("#txtResidentNumber").val() == '') {
            $('#txtResidentNumber').css('border-color', 'red');
            valid = false;
        }
        else {
            $('#txtResidentNumber').css('border-color', '');
        }
        if ($("#dpResidentExpiryDate").val() == '') {
            $('#dpResidentExpiryDate').css('border-color', 'red');
            valid = false;
        }
        else {
            $('#dpResidentExpiryDate').css('border-color', '');
        }
        if ($("#dpJoiningDate").val() == '') {
            $('#dpJoiningDate').css('border-color', 'red');
            valid = false;
        }
        else {
            $('#dpJoiningDate').css('border-color', '');
        }
        if ($("#dpContractStartDate").val() == '') {
            $('#dpContractStartDate').css('border-color', 'red');
            valid = false;
        }
        else {
            $('#dpContractStartDate').css('border-color', '');
        }
        if ($("#dpContractEndDate").val() == '') {
            $('#dpContractEndDate').css('border-color', 'red');
            valid = false;
        }
        else {
            $('#dpContractEndDate').css('border-color', '');
        }
        if ($("#txtGsm").val() == '') {
            $('#txtGsm').css('border-color', 'red');
            valid = false;
        }
        else {
            $('#txtGsm').css('border-color', '');
        }
        if ($("#txtAccomodationDetails").val() == '') {
            $('#txtAccomodationDetails').css('border-color', 'red');
            valid = false;
        }
        else {
            $('#txtAccomodationDetails').css('border-color', '');

        }
        if ($("#txtIdProfession").val() == '') {
            $('#txtIdProfession').css('border-color', 'red');
            valid = false;
        }
        else {
            $('#txtIdProfession').css('border-color', '');
        }

        if ($("#txtDesignation").val() == '') {
            $('#txtDesignation').css('border-color', 'red');
            valid = false;
        }
        else {
            $('#txtDesignation').css('border-color', '');
        }
        if ($("#txtBankName").val() == '') {
            $('#txtBankName').css('border-color', 'red');
            valid = false;
        }
        else {
            $('#txtBankName').css('border-color', '');
        }

        if ($("#txtAccountNumber").val() == '') {
            $('#txtAccountNumber').css('border-color', 'red');
            valid = false;
        }
        else {
            $('#txtAccountNumber').css('border-color', '');
        }


        return valid;
    }
    function ClearFields() {
        $("#txtEmployeeName").val('');
        $("#ddlCompany").val(0);
        $("#ddlCountry").val(0);

        $('#txtPassportNumber').val('');
        $('#dpPassportExpiryDate').val('');

        $('#txtResidentNumber').val('');

        $('#dpResidentExpiryDate').val('');

        $('#dpJoiningDate').val('');

        $('#dpContractStartDate').val('');

        $('#dpContractEndDate').val('');

        $('#txtGsm').val('');
        $('#txtAccomodationDetails').val('');

        $('#txtIdProfession').val('');

        $('#txtDesignation').val('');

        $('#txtBankName').val('');

        $('#txtAccountNumber').val('');

        $("#hdnEmployeePicturePath").val('');
        $("#imgUser").attr('src', "/img/avatar.png");
        $("#files").val(null);
        $("#txtRemarks").val('');
        $("#btnUpdate").hide();
        $("#btnSubmit").show();
        GetEmployeeReferenceNo();
        clearValidationCSS();
    }
    function GetAllEmployees() {
        showLoader(true);
        $.ajax({
            type: "GET",
            url: "/MasterPages/ManageEmployees/GetAllEmployees",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response != null) {
                    populateEmployees(response);
                } else {
                    console.log("Something went wrong");
                }
                // showLoader(false);
            },
            complete: function (response) {
                showLoader(false);
            },
            failure: function (response) {
                console.log(response.responseText);
            },
            error: function (response) {
                console.log(response.responseText);
            }
        });
    }
    function populateEmployees(response) {
        table = $('#tblEmployees').DataTable(
            {
                bLengthChange: false,
                bFilter: true,
                bSort: true,
                bPaginate: true,
                data: response,
                //scrollX: false,
                //scrollY: false,
                scrollY: "650px",
                sScrollX: "100%",
                scrollCollapse: true,
                select: true,
                pageLength: 10,
                destroy: true,
                columnDefs: [
                    {
                        render: function (data, type, full, meta) {
                            return "<div class='text-wrap width-35'>" + data + "</div>";
                        },
                        targets: 2
                    }
                ],
                columns: [
                    {
                        data: 'employeeNo', title: 'Employee Number', visible: false,
                    },
                    {
                        data: 'employeeReferenceNo', title: 'Employee</br> No',
                        render: function (data) {
                            return 'ARIS-' + data;
                        }
                    },
                    {
                        data: 'employeeName', title: 'Employee</br> Name'
                    },
                    {
                        data: 'approvalStatus', title: 'Status',
                        render: function (data) {
                            if (data == 2) {
                                return 'Approved';
                            }
                            else if (data == 1) {
                                return 'Rejected';
                            }
                            else if (data == 0) {
                                return 'Pending';
                            }
                        }

                    },
                    {
                        data: null,
                        title: 'View',
                        class: 'edit',
                        defaultContent: '<button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>',
                        orderable: false
                    }
                ]
            });

    }
    function GetEmployeeReferenceNo() {
        showLoader(true);
        $.ajax({
            type: "GET",
            url: "/MasterPages/ManageEmployees/GetEmployeeReferenceNo",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (response) {

                if (response.success == true) {
                    $("#txtEmployeeNumber").val('ARIS-' + response.responseText);
                    deleteInvalidUploads();

                }
            },
            complete: function (response) {
                showLoader(false);
            },
            failure: function (response) {
                console.log(response.responseText);
            },
            error: function (response) {
                console.log(response.responseText);
            }
        });
    }
    //testing region


</script>