@model Aris.Models.ViewModel.EmployeeDetailsViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/jquery-ui.css">
<link rel="stylesheet" href="~/plugins/loader/css/style.css" />
@* Confirm Box *@
<link rel="stylesheet" href="~/plugins/confirmBox/jquery-confirm.css" />
<link rel="stylesheet" href="~/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css" />


<style>
</style>
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Manage Employees</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">ManageEmployees</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Main content -->


<section class="content" id="divLoader">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-primary">
                    <dv class="card-header">
                        <h3 class="card-title">Employee Details	</h3>
                    </dv>
                    <!-- /.card-header -->
                    <!-- form start -->

                    <form role="form">

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">


                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="EmployeeNumber">Employee Number</label>
                                            <input type="text" class="form-control" id="txtEmployeeNumber" placeholder="Employee Number" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="EmployeeName">Employee Name </label>
                                            <input type="text" class="form-control" id="txtEmployeeName" placeholder="Enter Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class=" text-center">
                                        <img src="~/img/avatar.png" id="imgUser" height="100px" width="100px" />
                                    </div>
                                    <br />
                                    <div class="text-center">
                                        <input id="files" type="file" size="1" onchange="uploadFiles('files');" />
                                        <input type="hidden" id="hdnEmployeePicturePath" />
                                        <span id="file_error"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Client</label>
                                        <select class="form-control select2bs4" id="ddlCompany" style="width: 100%;">
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nationality</label>
                                        <select id="ddlCountry" class="form-control select2bs4" value="0" data-role="country-selector" data-code-mode="numeric"></select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="PassportNumber">Passport Number </label>
                                        <input type="text" class="form-control" id="txtPassportNumber" placeholder="Enter Passport Number">
                                    </div>
                                </div>
                                @*<div class="col-md-4">
            <div class="form-group">
                <label>Passport Expiry Date</label>
                <input type="text" class="form-control date" id="dpPassportExpiryDate" placeholder="Passport Expiry Date">
            </div>
        </div>*@
                                <div class="form-group col-md-4">
                                    <label>Passport Expiry Date</label>
                                    <div class="input-group date" id="passportDate" data-target-input="nearest">
                                        <input type="text" id="dpPassportExpiryDate" class="form-control datetimepicker-input" data-target="#passportDate" />
                                        <div class="input-group-append" data-target="#passportDate" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Files</label>
                                        <div class="input-group">
                                            <input type="button" name="Files" data-toggle="modal" data-target="#modal-passport" class="form-control btn btn-sm btn-info" value="Files" />

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ResidentNumber">Resident Number </label>
                                        <input type="text" class="form-control" id="txtResidentNumber" placeholder="Enter Resident No">
                                    </div>
                                </div>
                                @*<div class="col-md-4">
            <div class="form-group">
                <label>Resident Expiry Date</label>
                <input type="text" class="form-control date" id="dpResidentExpiryDate" placeholder="Resident Expiry Date">
            </div>
        </div>*@
                                <div class="form-group col-md-4">
                                    <label>Resident Expiry Date</label>
                                    <div class="input-group date" id="residentExpiryDate" data-target-input="nearest">
                                        <input type="text" id="dpResidentExpiryDate" class="form-control datetimepicker-input" data-target="#residentExpiryDate" />
                                        <div class="input-group-append" data-target="#residentExpiryDate" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Files</label>
                                        <div class="input-group">
                                            <input type="button" name="Files" data-toggle="modal" data-target="#modal-resident" class="form-control btn btn-sm btn-info" value="Files" />

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Joining Date</label>
                                        @*<input type="text" class="form-control date" id="dpJoiningDate" placeholder="Joining Date">*@su
                                        <div class="input-group date" id="joiningDate" data-target-input="nearest">
                                            <input type="text" id="dpJoiningDate" class="form-control datetimepicker-input" data-target="#joiningDate" />
                                            <div class="input-group-append" data-target="#joiningDate" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Contract Start Date</label>
                                        @*<input type="text" class="form-control date" id="dpContractStartDate" placeholder="Contract Start Date">*@
                                        <div class="input-group date" id="contractStartDate" data-target-input="nearest">
                                            <input type="text" id="dpContractStartDate" class="form-control datetimepicker-input" data-target="#contractStartDate" />
                                            <div class="input-group-append" data-target="#contractStartDate" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Contract End Date</label>
                                        @*<input type="text" class="form-control date" id="dpContractEndDate" placeholder="Contract End Date">*@
                                        <div class="input-group date" id="contractEndDate" data-target-input="nearest">
                                            <input type="text" id="dpContractEndDate" class="form-control datetimepicker-input" data-target="#contractEndDate" />
                                            <div class="input-group-append" data-target="#contractEndDate" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="GSM">GSM </label>
                                        <input type="number" class="form-control" id="txtGsm" placeholder="Enter GSM" maxlength="8">
                                    </div>

                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="accomodationdetails">Accomodation Details  </label>
                                        <input type="text" class="form-control" id="txtAccomodationDetails" placeholder="Enter accomodation">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Marital Status</label>
                                        <div class="radio">
                                            <label><input type="radio" value="1" name="radioMarital">Married</label>
                                        </div>
                                        <div class="radio">
                                            <label><input type="radio" value="0" name="radioMarital">Unmarried</label>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtIdProfession">ID Profession </label>
                                        <input type="text" class="form-control" id="txtIdProfession" autocomplete="off" placeholder="Enter Id Profession">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Designation">Designation</label>
                                        <input type="text" class="form-control" id="txtDesignation" placeholder="Enter Designation">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="BankName">Bank Name </label>
                                        <input type="text" class="form-control" id="txtBankName" placeholder="Enter Bank Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="AccountNumber">Account No. </label>
                                        <input type="text" class="form-control" id="txtAccountNumber" placeholder="Enter Account Number">
                                    </div>
                                </div>
                                <div class="col-md-6" id="div_confirmAccNo">
                                    <div class="form-group">
                                        <label for="AccountNumber">Confirm Account No. </label>
                                        <input type="password" class="form-control" id="txtConfirmAccountNumber" autocomplete="new-password" placeholder="Enter Account Number">
                                        <span id="spanConfirmAccount" style="color:red"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="txtRemarks">Remarks </label>
                                        <textarea class="form-control" rows="2" id="txtRemarks"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input type="button" width="100px" id="btnUploadRemainingFiles" name="Files" data-toggle="modal" data-target="#modal-lg" class="form-control btn btn-sm btn-info" value="Upload Files" />

                                    </div>

                                </div>
                                <hr />
                                <div class="col-md-12" id="div_confidential" style="margin-top:10px">
                                    <div class="input-group">
                                        <input type="button" width="100px" id="btnUploadConfidential" name="Files" data-toggle="modal" data-target="#modal-lg-confidential" class="form-control btn btn-sm btn-warning" value="Confidential Files" />

                                    </div>

                                </div>

                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div style="text-align:right;">
                            <button type="button" id="btnSendBack" style="margin-right:10px;" class="btn btn-warning btn-sm example-p-3">Send Back</button>
                            <button type="button" id="btnApprove" style="margin-right:20px;" class="btn btn-success btn-sm example-p-4">Approve</button>
                        </div>
                        <div class="card-footer" style="text-align:right">
                            <button type="button" id="btnReset" onclick="ClearFields()" class="btn btn-sm btn-primary">Reset</button>
                            <button type="button" id="btnUpdate" class="btn btn-sm btn-warning example-p-1">Update</button>
                            <button type="button" id="btnSubmit" class="btn btn-sm btn-success example-p-2">Submit</button>


                        </div>

                    </form>

                </div>


            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">

                <!-- general form elements disabled -->
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">Employee List</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form role="form">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card-body table-responsive p-0" style="overflow:hidden">
                                        <table class="table table-bordered table-head-fixed text-nowrap table-hover table-striped" width="100%" id="tblEmployees"> </table>
                                    </div>
                                </div>

                            </div>


                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>

            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

@* Modal for file Upload *@
@* Passport *@
<div class="modal fade" id="modal-passport" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content alert-light">
            <div class="modal-header" style="background-color:darkseagreen">
                <h4 class="modal-title left">Upload Passport Pages</h4>
                <button type="button" class="close" style="color:darkred" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="card-body table-responsive p-0">
                            <table class="table table-head-fixed text-wrap" id="tblPassportFiles"> </table>
                        </div>
                        @*<table class="table text-wrap compact border-dark" id="tblPassportFiles"> </table>*@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-dismiss="modal">OKAY</button>
            </div>
        </div>
    </div>
</div>

@* Resident Card *@
<div class="modal fade" id="modal-resident" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content alert-light">
            <div class="modal-header" style="background-color:darkseagreen">
                <h4 class="modal-title left">Upload Resident Card Pages</h4>
                <button type="button" class="close" style="color:darkred" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-body table-responsive p-0">
                            <table class="table table-head-fixed text-wrap" id="tblResidentFiles"> </table>
                        </div>
                        @*  <table class="table text-nowrap" id="tblResidentFiles"> </table>*@
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-dismiss="modal">OKAY</button>
            </div>
        </div>
    </div>
</div>
@* Remianing file upload model *@
<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg" style="font-size:smaller">
        <div class="modal-content" style="width:auto">
            <div class="modal-header" style="background-color:darkseagreen">
                <h4 class="modal-title left">Upload Files</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="mb-3">
                <div class="card-body table-responsive p-0">
                    <table class="table text-nowrap" style="width:100%" id="tblRemainingFiles"> </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-dismiss="modal">OKAY</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@* Confidential file upload model *@
<div class="modal fade" id="modal-lg-confidential">
    <div class="modal-dialog modal-lg" style="font-size:smaller">
        <div class="modal-content" style="width:auto">
            <div class="modal-header" style="background-color:darkseagreen">
                <h4 class="modal-title left">Upload Confidential Files</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="mb-3">
                <div class="card-body table-responsive p-0">
                    <table class="table text-nowrap" style="width:100%" id="tblConfidentialFiles"> </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-dismiss="modal">OKAY</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@* Message Modal *@
<div class="modal fade" id="alert-modal">
    <div class="modal-dialog">
        <div class="modal-content alert-success">
            <div class="modal-header">
                <h4 class="modal-title">Success Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer justify-content">
                @*<button type="button" id="btnDialogNo" class="btn btn-outline-light">No</button>
                    <button type="button" id="btnDialogYes" class="btn btn-outline-light">Yes</button>*@
                <button type="button" id="btnDialogClose" class="btn btn-outline-light" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!--<div class="modal fade " id="modal-remaining" role="dialog">
    <div class="modal-dialog">-->
<!-- Modal content-->
<!--<div class="modal-content alert-light " style="width:850px;align-content:center">
            <div class="modal-header" style="background-color:darkseagreen">
                <h4 class="modal-title left">Upload Files</h4>
                <button type="button" class="close" style="color:darkred" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="max-width:850px">
                <div class="mb-3">

                    <div class="card-body table-responsive p-0" style="overflow:hidden">
                        <table class="table table-head-fixed text-nowrap  " width="100%" id="tblRemainingFiles_123"> </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-dismiss="modal">OKAY</button>
            </div>
        </div>
    </div>
</div>-->
<!-- /.modal -->
@* loader *@
<div class="overlay"></div>
@* hidden Variables *@
<input type="hidden" id="hdnUserRole" value="@TempData.Peek("UserRole")" />
<input type="hidden" id="hdnUserId" value="@TempData.Peek("UserId")" />


@* Common files Starts*@
<script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.css">
<script src="~/js/Common/Common.js" type="text/javascript"></script>
<script src="~/js/jquery-ui.js" type="text/javascript"></script>
<script src="~/plugins/bootstrap/js/bootstrap.min.js" type="text/x-jsrender">
</script>
@* Common files ends *@
@* Solution Specific files starts *@
<script src="~/js/App/ManageEmployees.js" type="text/javascript"></script>
<script src="~/plugins/countrypicker/js/jquery.countrySelector.js" type="text/javascript"></script>
@* ConfirmBox *@
<script src="~/plugins/confirmBox/jquery-confirm.js" type="text/javascript"></script>
<script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>

@* Solution Specific files ends *@
<script>

    $(document).ready(function () {

    });

</script>